@inject RestaurantReviews2024.App.Services.TokenProvider TokenProvider
@code {
    [Parameter]
    public RestaurantReviews2024.App.Services.InitialApplicationState? InitialState { get; set; }

    protected override Task OnInitializedAsync()
    {
        TokenProvider.XsrfToken = InitialState!.XsrfToken!;
        TokenProvider.Cookie = InitialState!.Cookie;

        return base.OnInitializedAsync();
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />       
    <link rel="stylesheet" href="app.css" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="RestaurantReviewsUI.styles.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>    
    <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveAuto" />
    </CascadingAuthenticationState>    
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

